[submodule "modules/lemur"]
	path = modules/lemur
	url = https://github.com/kbarber/lemur.git
	branch = btk-changes
[submodule "modules/testez"]
	path = modules/testez
	url = https://github.com/Roblox/testez.git
[submodule "modules/roact"]
	path = modules/roact
	url = https://github.com/Roblox/roact
[submodule "modules/roact-material"]
	path = modules/roact-material
	url = https://github.com/AmaranthineCodices/roact-material
[submodule "modules/roact-animate"]
	path = modules/roact-animate
	url = https://github.com/AmaranthineCodices/roact-animate
